@import "vars";
@import "fonts";
@import "libs";



body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;

	overflow-x: hidden;

	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
	#app{
		margin-top: 20px;
		.TodoList{
			padding-left: 0;
			margin-left: 0;
			width: 100%;
			li{
				list-style-type: none;
		    background: #eee;
		    margin: 5px;
		    padding: 5px 10px;
				.task-label{
					margin: 5px auto;
					min-height: 50px;
				}
				.task-label[contenteditable="true"]{
					background: #fff;
				}
				button{
					margin: 5px;
				}
			}
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}



@import "media";
